html {
font-size: 18px;
font-family: "Helvetica" sans-serif;
background-color: white;
}

body {
line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/*nav*/

header {
height: 30rem;
padding-top: 1rem;
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

nav {
  display: flex;
  align-items: center;
  background-color: cadetblue;
  padding: 1rem 0;
  justify-content: space-between;
  color: white;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

nav ul {
  margin-right: 1rem;
}

nav li {
  display: inline;
  padding: 0 1rem;
}

.mobile-menu {
  display: none;
}




/*banner*/

header .flex {
  justify-content: flex-end;
}

.banner {
  display: inline-block;
  background-color: white;
  text-transform: uppercase;
  position: relative;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
}


h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

@media only screen and (max-width: 768px) {
  header {
    height: 22rem;
    padding-top: 0;
  }

nav.container {
  max-width: 100%;
}

.banner h1 {
  font-size: 1.33rem;
  text-align: center;
}

.banner {
  margin-top: 5rem;
  margin-right: 2rem;
  padding: 0.75rem 4rem;
}
}

@media only screen and (max-width:560px) {
  .menu ul {
  display: none;
  }
.menu ul.mobile-menu  {
  display: block;
}

header {
  background-position: 20%;
  height: 17rem;
}

header div span {
  display: none;
}
.banner {
  margin: 9rem auto 0 auto;
  padding: 1rem 0rem;
  width: 100%;
}

.banner h1 {
  font-size: 1rem;
}
}

/*Services*/

.supporting {
  display: flex;
  justify-content: center;
}

.Service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
  text-align: center;
}

.supporting img {
width: 5rem;
margin-bottom: 1rem;
}

img.Paper-Icon {
  width: 3.5rem;
}

@media only screen and (max-width:560px) {
.supporting {
flex-direction: column;
align-items: center;
margin-top: 3.77rem;
  }

.Service {
font-size: 0.77rem;
margin: 0.77rem;
}
}

/*Information*/


.info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}

.info p {
  padding: 1rem 0;
}

.title {
  max-width: 10rem;
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  font-weight: bold;
  color: white;

}

@media only screen and (max-width:560px) {
.info {
  width: 100%;
}

.info .title {
  width: 100%;
  max-width: none;
  margin-right: 0;
  text-align: center;
}

.info p {
  font-size: 0.77rem;
  padding: 1rem 1rem 4rem 1rem;
}

}


/*footer*/

footer {
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: azure;
  color: black;
}

footer img {
  padding: 4rem 1rem 4rem 4rem;
  height: 1.5rem;
}

@media only screen and (max-width:560px) {
  footer {
    justify-content: center;
  }
  footer span {
    display: none;
  }
}
